always-auth=true
# TODO: Remove the next line once all dependencies are compatible with react ^17
legacy-peer-deps=true
@audi:registry=https://npm.pkg.github.com
@oneaudi:registry=https://npm.pkg.github.com
@oneaudi-os:registry=https://npm.pkg.github.com
@volkswagen-onehub:registry=https://npm.pkg.github.com
